/* cavapanel.css */

span.error { 
  color: #ff0000;
  font-size: 15px;
}

div.debug { 
  background: #303030;
  padding: 40px 10px 10px 10px; /*top right bottom left*/
  color: #ffffff;
  height: 600px;
  width: 800px;
}

textarea.debug { 
  height: 400px;
  width: 790px;
}

